*{
  font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.navbar {
    background: linear-gradient(45deg, #d4c5e6, #420f55);
    padding: 1rem 2rem;
  }
  
  .logo {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    transition: color 0.3s;
  }
  .logo-img {
    height: 45px; /* Adjust logo height */
    width: auto; /* Maintain image proportions */
  }
  
  /* Logo Text */
  .logo-text {
    font-size: 1.2rem; /* Adjust text size */
    font-weight: bold; /* Make text bold */
    color: #ffffff; /* Adjust color */
    text-transform: uppercase; /* Optional: Make text uppercase */
  }
  .nav-link {
    color: white !important;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #8e7bc0 !important;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2880,80,80,0.7%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

.footer{
    background: linear-gradient(to left, #cfb1eb, #420f55);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}
.head{
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;

}

.footer hr {
    width: 50px;
    height: 2px;
    background-color: #c49fc5;
    border: none;
    margin: 5px auto;
    opacity: 0.9;
}

.footer p, .footer ul {
    margin: auto;
    padding-top: 15px;
    list-style: none;

}
.footer ul li {
    margin-bottom: 5px;
}

.icons a{
    font-size: 24px;
    color: white;
    margin: 0 12px; 
    padding-top: 5px;
    transition: transform 0.3s ease, color 0.3s ease;
}
.icons a:hover {
    transform: scale(1.2);
    color: #731974 ;
}
.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.9;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}